body{
    background: -moz-linear-gradient(#0575E6 0%, #021B79 100%);
    background: -webkit-linear-gradient(#0575E6 0%, #021B79 100%);
    background: linear-gradient(#0575E6 0%, #021B79 100%);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.bg-black{
    background-color: #000000!important;
}

.item-name{
    text-transform: capitalize;
}

td.checked{
    text-decoration: line-through;
}

div#addItem{
    background-color: #dc3545;
    border-radius: 50%;
    bottom: 0;
    box-shadow: rgba(0,0,0,0.5) 0 0 20px;
    display: block;
    height: 72px;
    margin: 0 2em 2em 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 72px;
    z-index: 100;
}

div#addItem a#addItemLink{
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
}

div#addItem a#addItemLink i{
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: block;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    user-select: none;
    width: 72px;
}

div#addItem.expand{
    background-color: #fff;
    border-radius: 0px;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

a#addItemLink.hide{
    display: none;
}