body{
    background: -moz-linear-gradient(#0575E6 0%, #021B79 100%);
    background: -webkit-linear-gradient(#0575E6 0%, #021B79 100%);
    background: linear-gradient(#0575E6 0%, #021B79 100%);
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.bg-black{
    background-color: #000000!important;
}

.item-name{
    text-transform: capitalize;
}