body{
    background: -moz-linear-gradient(#0575E6 0%, #021B79 100%);
    background: -webkit-linear-gradient(#0575E6 0%, #021B79 100%);
    background: linear-gradient(#0575E6 0%, #021B79 100%);
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

div.card-custom{
    box-shadow: rgba(0,0,0,0.5) 0 0 20px;
    width: 500px;
}